.EmployeeDetails {
  min-height: 100vh;
}
.EmployeeDetails__table {
  width: 100%;
  height: 50vh;
}

.EmployeeDetails__th {
  width: 50%;
}

.EmployeeDetails__td {
  width: 50%;
}

.EmployeeDetails__editButton {
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.EmployeeDetails__editButton:hover {
  background-color: red;
}

.employee-details__allow  {
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
  text-align: center;  
}

.employee-details__cancel{
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.employee-details__save {
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.employee-details__cancel:hover {
  background-color: red;
}

.employee-details__save:hover {
  background-color: red;
}